.sfc_scorepredictor table {					display: table; width: 100%; border-collapse: collapse; }
.sfc_scorepredictor th,
.sfc_scorepredictor td {					text-align: center !important; padding: 2px 5px; vertical-align: middle; }
.sfc_scorepredictor .sfc_team {				width: 30%; }
.sfc_scorepredictor .sfc_scores {			width: 40%; font-size: 1.5em; }
.sfc_scorepredictor .sfc_scores small {		font-size: .6em; }
.sfc_scorepredictor input[type="text"] {	width: 1.5em; text-align: center; }
.sfc_scorepredictor input[type="submit"] {	margin-top: .5em; }
.sfc_scorepredictor .sfc_score {			font-size: 1.2em; line-height: 1.5em; text-align: left !important; text-shadow: 0 0 2px white; }
.sfc_scorepredictor .sfc_score div {		position: relative; padding: 0 10px; }
.sfc_scorepredictor .sfc_score strong,
.sfc_scorepredictor .sfc_score em {			position: relative; z-index: 2; }
.sfc_scorepredictor .sfc_score em {			font-style: normal; float: right; }
.sfc_scorepredictor .sfc_percent {			display: block; position: absolute; left: 0; height: 1.5em; background-color: #9CE; z-index: 1; border-radius: 5px; }
.sfc_scorepredictor .sfc_footer {			display: block !important; text-align: center; }

.sfc_scorepredictor .sfc_team label {		display: inline-block; width: 100%; background-repeat: no-repeat; background-position: top center; background-size: 80px 80px; padding-top: 80px !important; }
