.statsfc_scorepredictor table {					display: table; width: 100%; border-collapse: collapse; margin-bottom: 0; }
.statsfc_scorepredictor th,
.statsfc_scorepredictor td {					text-align: center !important; padding: 2px 5px; vertical-align: middle; }
.statsfc_scorepredictor .statsfc_team {			width: 30%; }
.statsfc_scorepredictor .statsfc_scores {		width: 40%; font-size: 1.5em; }
.statsfc_scorepredictor .statsfc_scores small {	font-size: .6em; }
.statsfc_scorepredictor input {					display: inline; }
.statsfc_scorepredictor input[type="text"] {	font-size: 1.5em; width: 1.25em; text-align: center; }
.statsfc_scorepredictor input[type="submit"] {	font-size: 1.5em; margin-top: .5em; }
.statsfc_scorepredictor .statsfc_score {		font-size: 1.2em; line-height: 1.5em; position: relative; text-align: left !important; padding-left: 16px; text-shadow: 0 0 2px white; }
.statsfc_scorepredictor .statsfc_score strong,
.statsfc_scorepredictor .statsfc_score em {		position: relative; z-index: 2; }
.statsfc_scorepredictor .statsfc_score em {		font-style: normal; float: right; }
.statsfc_scorepredictor .statsfc_percent {		display: block; position: absolute; left: 8px; height: 1.5em; background-color: #9CE; z-index: 1; border-radius: 5px; }
.statsfc_scorepredictor .statsfc_footer {		display: block !important; text-align: right; margin-top: 0; padding: 2px 5px; }